.box-left{
	padding-right: 0px !important;
}
.box-right{
	padding-left: 0px !important;
}
.text-header{
	font-weight: 500;
}
.join-posts{
  background: #f5f5f5;
}
.join-posts .join-banner{
	padding: 15px 0px;
}
.join-posts .join-content{
  background: #ed1c24;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 20px;
}
.join-posts .join-content hr {
  margin: 15px 0px;
}
.join-posts .join-content .join-content-box{
	padding-bottom: 10px;
}
.join-posts .join-content .join-content-box .join-apply a{
  display: block;
  padding: 10px;
  margin-left: 15px;
  color: #fff;
}
.join-posts .join-content .join-content-box .join-apply a.active{
  color: #000 !important;
  background: #fff !important;
}
/*.join-posts .join-content .join-content-box .join-apply a.active:after{
  position: absolute;
  content: "";
  height: 44px;
  width: 100%;
  left: 10px;
  background-color: #fff;
}
*/
.join-posts .join-content .join-content-box .join-title-header{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.join-posts .join-content .join-content-box .join-title-contact{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.join-posts .join-description{

  background: #fff;
  padding: 30px;

}
.join-posts .join-description hr{
  border-top: 2px solid #e10000;
}
.join-posts .join-description .btn-join{
  padding: 10px 25px;
  background: #e10000;
  color: #fff;
}
.form-group {
  margin-bottom: 10px !important;
}

form span.require{
	color: #f00;
}
