.box-left{
	padding-right: 0px !important;
}
.box-right{
	padding-left: 0px !important;
}

.product-posts{
	padding: 15px 0px;
}
.product-posts .proudct-list .list-header{
	background: #4d8ed4;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.product-posts .proudct-list .list-nav ul.list-menu li{
	border-bottom: 2px solid #ececec;
}
.product-posts .proudct-list .list-nav ul.list-menu li.active,
.product-posts .proudct-list .list-nav ul.list-menu li:hover{
	background: #ececec;
}
.product-posts .proudct-list .list-nav ul.list-menu a{
	padding: 10px 15px;
	display: block;
}
.product-posts .proudct-list .list-nav ul.list-menu a img{
	display: inline-block;
    width: 30px;
}

.product-posts .product-title{
	font-size: 24px;
    padding: 5px 15px;
    font-weight: 500;
    margin-bottom: 0px;
	background-color: #fff;
}

/*.product-posts .product-detail-posts .title {
  	display: inline-block;
  	padding: 5px;
  	transform: rotate(-90deg);
  	transform-origin: center bottom;
   	position: absolute;
    left: 10px;
    bottom: 155px;
}
.product-posts .product-detail-posts .title::before{
	position: absolute;
    content: "";
	height: 2px;
    width: 100px;
    top: 20px;
    background-color: #fff;
    left: -100px;
}
*/
.product-detail-posts{
	padding: 15px 0px;
}
.product-detail-posts .product-title{
	font-size: 24px;
    padding: 5px 0px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    width: 50%;
}
.product-detail-posts td.bg:first-child {
	background-image: url(../img/product_title_bg.jpg);
    background-size: cover;
}

.product-detail-posts td{
	border-collapse: collapse;
    border-spacing: 10;
}

.product-detail-posts td img {
    display: inline-block !important;
}

.product-detail-posts .product-detail-container{
	padding: 35px 0px;
	background-image: url(../img/product_detail_bg.jpg);
    background-position: center;
}

@media screen and (max-width: 768px) {
	.product-detail-posts .product-title{
		font-size: 16px;
	}
	.product-detail-posts td.bg:first-child{
		background-image: none;
		background: #cc0001;
	}
}
